.input-stl{
    /* background-color: var(--background); */
    background-color: unset;
    width: 100%;
    min-width: 160px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--accent);
    outline: none;
    color: var(--accent);

    caret-color: var(--accent);
}

.input-stl::placeholder{
    color: var(--ph-color);
}

.input-stl:blur{
    outline: none;
    transition: all 0.1s;
}

.input-stl:focus{
    outline: 1px solid var(--outline-color);
    transition: outline 0.1s;
}

@media screen and (max-width: 500px){
    .input-stl{
        grid-column: span 2;
    }
}