.button-control{
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--constant-text-color);
    background-color: var(--accent);

    display: flex;
    justify-content: center;
    align-items: center;
}

.pd{
    padding: 10px 22px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

/* .theme */
.theme{
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--accent);

    display: grid;
    place-items: center;
}

.non-accent{
    background-color: var(--background);
    border: 2px solid var(--accent);
    color: var(--accent);
}

.non-accent:hover{
    color: var(--constant-text-color);
}