.auth-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-page--main{
    width: 100%;
    height: 100%;
    padding: 0;

    display: grid;
    place-items: center;
}

.main--article{
    border-radius: 20px;
    padding: 30px 20px;
    background-color: var(--list-bg-hover);

    width: 100%;
    max-width: 500px;
    display: flex;
}

.main--header{
    color: var(--text-color);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.img-block{
    align-self: center;
    max-width: 500px;
    height: 100%;
}

.button-case{
    display: grid;
    grid-template-columns: auto 50px;
    grid-template-rows: 50px;
    width: 100%;
    gap: 10px;
}

@media screen and (max-width: 500px){
    .main--article{
        min-width: 360px;
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        border-radius: 0;

        background-color: unset;
    }

    .img-block{
        width: 100%;
    }
}